@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body .body{
  background-color : #3e7d3a;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;

}
body {
  background-color : #888a84;
   font-family: Arial, sans-serif;
  line-height: 1.6;
}

.logo-container {
    float: right;
    top: 100%;
    left: 50%;
  }
  /*
  .logo{
    background-image: url(assets/logo.png);
    width: 100%;
    height: 100%;
  }*/

  #header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(13, 109, 60);
    align-items: center;
    padding: 10px;
  }
  #prezentare{
    margin-top: 80px;
    padding: 20px;
  }
  #galerie {
    margin-top: 80px; /* Ajustează valoarea pentru a stabili spațiul dorit între header și secțiunea de galerie. */
    padding: 20px;
  }
  header {
    background-color: rgb(131, 76, 76);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #84CD17;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: white;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    left: -525px;
    width: 25px;
    position: relative;
    color: transparent;
}
  .description {
    font-size: 14px;
    color: rgb(224, 117, 22);
    text-align: center;
  }
  
  .button {
    border: none;
    font-size: 16px;
    color: transparent;
    padding: 8px 16px;
    background-color: rgb(225, 132, 33);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .swiper-navBtn::before, .swiper-navBtn::after {
    font-size: 35px;
  }
  
  .swiper-button-next {
    right: 0px;
  }
  
  .swiper-button-prev {
    left: 0px;
  }
  
  .swiper-pagination-bullet {
    background-color: rgb(110, 147, 247);
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background-color: rgb(64, 112, 244);
  }
  
  @media screen and (max-width: 1024px) {
    .slide-content {
        margin: 0px 10px;
    }
  
    .swiper-navBtn {
        display: none;
    }
  }
  
  
  
  h1 {
    text-align: center;
    color: rgb(247, 177, 0);
    font-size: 15px;
  }
  
  h2 {
    color: rgb(19, 72, 19);
  }
  
  p {
    color: #242423;
  }
  .center{
    color: #6c6864;
  }


  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 650px;
    width: 1500px;
    margin: 0px auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: border 0.3s;
    border-color: #C11113;
    box-shadow: 0 0 10px #F6b8D1;
  }
  /* Poziționare centrală a containerului */
  .container_invizibil {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    height: 200vh;
    margin: 0 auto;
    border: none;
}
.column1 {
  display: inline-block; /* Face coloana să fie afișată ca un bloc pe orizontală */
  text-align: left; /* Aliniază conținutul la stânga */
  width: 50%; /* Ajustați lățimea coloanei în funcție de preferințe */
}

 

form fieldset {
  border: none; /* Elimină chenarul formularului */
}

form input, form select, form textarea {
  border: none; /* Elimină chenarele din jurul elementelor de formular */
  margin: 5px 0; /* Adaugă spațiu între elementele de formular */
}
 /* input,
textarea,
select {
    border: none;
    outline: none;
    padding: 5px; 
    margin: 5px 0; 
}
 */
 .container1{
  background-color: #eae5e06d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 99.5%;
      margin: -50px 25px auto;
  padding: 15px;
  border-color:rgb(13, 109, 60);
  position: relative; /* Set the position to relative */
  left: -15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

 }
.container2{
  background-color: #eae5e06d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 99.5%;
    margin: 0px 25px auto;

  padding: 15px;
  border-color:rgb(13, 109, 60);
  position: relative; /* Set the position to relative */
  left: -15px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

 }
 .container3{
  background-color: #aea69e6d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 99.5%;  margin: 0px 25px auto;
  position: relative; /* Set the position to relative */
  left: -15px;
  padding: 15px;
  border-color:rgb(13, 109, 60);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 }
 .container4{
  background-color: #FFDFA1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 99.5%;
    margin: 0px 25px auto;
  position: relative;
  left: -35px;
  top: 10px;
  padding: 15px;
  border-color:rgb(13, 109, 60);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
 }
 .container5{
    background-color: #eae5e06d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
    width: 99.5%;
          margin: -50px 25px auto;
    padding: 15px;
    border-color:rgb(13, 109, 60);
    left: -5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
   }
 .container2:border  .container3:border  .container4:border {
  border: 2px solid #F6b8D1; /* Green color when hovered */
  outline: none;
      border-color: #F6b8D1;
      box-shadow: 0 0 10px #F6b8D1;
}
.container2  .container3  .container4{
  border: 2px solid #F6b8D1; /* Green border color */
  transition: border 0.3s;
  border-color: #F6b8D1;
  box-shadow: 0 0 10px #F6b8D1;
}

.b_form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #f1f0f0;
  padding: 2rem;
  border-radius: 1.25rem;
  margin-top: 120px;
    max-height: calc(280vh - 700px); /* Limit the form height to the viewport height minus header height */
}

.b_input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.b_input-wrapper input {
  border: none;
  border-radius: 1rem;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

.b_input-wrapper textarea {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  resize: none;
}

.b_inline-wrapper {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.b_inline-wrapper select {
  border: none;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  padding-left: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  height: 2.5rem;
}

.b_inline-wrapper label {
  min-width: fit-content;
}

.b_inline-wrapper input {
  border: none;
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;
  padding-left: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  height: 2.5rem;
}

.b_money-input input {
  width: 100%;
}

.b_currency {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 25%;
}

.b_currency svg{
  width: 1.5rem;
  height: 1.5rem;
}
.b_money-input {
  position: relative;
}

.b_submit {
  padding: 1em 0;
  border: none;
  background-color: hsl(91, 77%, 41%);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
  border-radius: 1.5rem;
} /*Am fixat cateva aspecte */ 
